/* Personalizado para la aplicación */
.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: #ffc107; /* Fondo principal */
  font-family: Arial, sans-serif;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 20rem;
  height: 30rem;
  transition: transform 0.3s ease;
  text-align: center;
  border-radius: 10px;
  background-color: #bd2a2a; /* Fondo de las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

h1{
  color: black;
}

p {
  margin-top: 10px;
  font-size: 2.75rem;
  color: black;
}

/* Nueva clase para ocultar los contenedores cuando estamos en la página de "En Construcción" */
.construction-container {
  background-color: #bd2a2a ;
}
body.working-page .image-container {
  background-color: #ffc107;
  display: none;
 
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .image-container {
    margin-bottom: 20px;
  }
}
